In [3]:
import pandas as pd
from faker import Faker
import random

In [4]:
fake = Faker()

In [5]:
provincias = ["Loja", "Pichincha", "Guayas", "Azuay", "Manabí"]

In [13]:
datos = []
for x in range(10000):
    registro = {
        'nombre' : fake.first_name(),
        'apellido' : fake.last_name(),
        'edad' : random.randint(30, 40),
        'email' : fake.email(),
        'provincia' : random.choice(provincias),
        'direccion' : fake.address().replace('\n',', ')
    }
    datos.append(registro)

In [14]:
df = pd.DataFrame(datos)

In [15]:
df

,nombre,apellido,edad,email,provincia,direccion
0,Jose,Allison,32,nathan56@example.net,Pichincha,"9071 Anderson Fields Apt. 047, Carlosstad, MI ..."
1,Jacob,Blair,31,landerson@example.com,Azuay,"444 Lori Crossing Apt. 375, Millershire, OR 65648"
2,Michael,James,38,antoniomccullough@example.net,Loja,"34520 Anne Port, New Jamesshire, OH 79292"
3,Brenda,Graham,40,jacksonreginald@example.net,Manabí,"25563 Molina Lodge, West Thomas, NC 33021"
4,Robert,Hayes,34,kylewebb@example.net,Guayas,"0816 Allen Mills, New Alanshire, SC 89851"
...,...,...,...,...,...,...
9995,Katrina,Castillo,32,grantmichael@example.org,Manabí,"234 Peggy Landing Suite 897, Jonville, MP 88760"
9996,Veronica,Villarreal,40,jonathan88@example.net,Guayas,"33226 Mitchell Islands, East Johnshire, OH 24794"
9997,James,Meyer,38,xgonzalez@example.net,Azuay,"653 Vaughan Street Suite 390, Carolstad, MI 05699"
9998,Devin,Martinez,32,rodriguezjodi@example.org,Manabí,"191 Hannah Run, Laurenchester, FM 97703"
9999,Megan,Green,36,carolynhenderson@example.net,Loja,"42109 Cynthia Summit, Stevenfort, MT 19465"

In [17]:
df.to_csv("datos_cuaderno1.csv", index=False)